Wednesday-workingHours.pcap_ISCX.csv
Wednesday_Encoded.csv
Wednesday_Cleaned.csv
top10_features_dataset.csv
.ipynb_checkpoints/
logistic_model_tuned.pkl
logistic_regression_model.pkl
random_forest_model.pkl
rf_model_tuned.pkl
svm_model.pkl
svm_model_tuned_fast.pkl
MileStone-4_SentinelNet-AI.ipynb
alerts_log.csv
isolation_forest_model.pkl
kmeans_model.pkl